#contact {
    display:flex ;
    flex-direction: column;
    gap: 2rem;
    background-image: url(../../../images/beach-bg.jpg);
    background-position: center;
    background-size: cover;
}

.contact-image {
    height: 100%;
    max-width: 500px;
    aspect-ratio: 2;
    object-fit: cover;
    justify-self: right;
    opacity: 0;
    height: 0px;
}

#contact #sec-1 {
    background-color: hsl(var(--clr-white)/.2 );
    backdrop-filter: blur(3rem);
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 4rem;
    justify-content: center;
}


#contact h2 {
    max-width: max(0vw, 100%);
    margin-left: 1rem;
    font-weight: 600;
}

#contact .card {
    display:flex;
    flex-direction: column;
    justify-content: top;
    gap: 1.5em;
    align-items: left;
    width: max(30vw, 250px);
    height: max(300px, 47vh);
    padding: 2em;
    background-color: transparent;
    background-color: hsl( var(--clr-white)/.2 );;
    backdrop-filter: blur(6rem);
}

#contact .card *:not(.icon){
    max-width: 90%;
}

#contact button {
    margin: 0
}


#contact a {
    color: hsl(var(--clr-bl-accent))
}

.cssbuttons-io-button {
    /* background: hsl(var(--clr-bl-light)); */
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    /* box-shadow: inset 0 0 1.6em -0.6em hsl(var(--clr-bl-accent)); */
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    width: 140px;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    /* box-shadow: 0.1em 0.1em 0.6em 0.2em hsl(var(--clr-bl-accent)); */
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
    transform: translateX(1.3);
  }
  

  
  /* .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  } */
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  

  .my-card {
    border: 3px solid hsl(var(--clr-bl-dark))
  }
  .btn-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
  }

  .btn-flex a,
  .btn-flex a:hover {
    text-decoration: None;
  }

@media (min-width: 1056px) {
    .contact-image {
        border-top-left-radius: 25rem;
        border-bottom-left-radius: 12rem;
        height: 100%;
        opacity: 1;
    }

    #contact #sec-1 {
        padding: 0;
        height: 50vh;
        justify-content: space-between;
    }

    #contact .card {
        margin-top: -4rem;
    }
}