/* colors */

.bg-white {background-color: white;}

.bg-accent-light { background-color: $clr-accent-light;}
.bg-accent-med-1 { background-color: $clr-accent-med-1;}
.bg-accent-med-2 { background-color: $clr-accent-med-2;}
.bg-accent-dark { background-color: $clr-accent-dark;}
.bg-main-bright { background-color: $clr-main-bright;}
.bg-main-light { background-color: $clr-main-light;}
.bg-main-med { background-color: $clr-main-med;}
.bg-main-dark { background-color: $clr-main-dark;}
