/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-bl-dark: 188 98% 17% ;
    --clr-bl-med: 211 80% 78%;
    --clr-bl-light: 197 82% 78%;
    --clr-bl-accent: 182 68% 79%;
    --clr-be-light: 45 100% 87%;
    --clr-white: 0 0% 100%;
  
  
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "DM Serif Display", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Josefin Sans", sans-serif;
  }
  
  @media (min-width: 35em) {
    :root {
        --fs-800: 4rem;
        --fs-700: 2.2rem;
        --fs-600: 1.3rem;
        --fs-500: 1.15rem;
        --fs-400: 1rem;
    }
  }
  
  @media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 5.6rem;
        --fs-700: 2.8rem;
        --fs-600: 1.9rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
  }